<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>After School Classes</title>

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <script src="products.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename" id="sitename"></h1>
            <p v-on:click="showCheckout" id="checkoutBtn">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span>
            </p>
        </header>

        <main>

            <div v-if="showProduct">
                <div id="container">

                    <div id="sideContainer">
                        <p>Search:</p>
                        <input type="search" placeholder="Search">
                        <br>

                        <p>Sort By:</p>
                        <input type="radio" id="class" name="sortby">
                        <label for="class">Class</label>
                        <input type="radio" id="location" name="sortby">
                        <label for="location">Location</label>
                        <input type="radio" id="price" name="sortby">
                        <label for="price">Price</label>
                        <input type="radio" id="availability" name="sortby">
                        <label for="class">Availability</label>
                        <br>

                        <p>Order By:</p>
                        <input type="radio" id="ascending" name="orderby" checked>
                        <label for="ascending">Ascending</label>
                        <input type="radio" id="descending" name="orderby">
                        <label for="descending">Descending</label>
                    </div>

                    <div id="productContainer">
                        <div id="productCard" v-for="product in products">
                            <figure>
                                <img v-bind:src="product.image">
                            </figure>
                            <h2 v-text="product.title"></h2>
                            <p>Location: {{product.location}}</p>
                            <p>Price: AED{{product.price}}</p>
                            <!-- <p>Availability: {{product.availableInventory - cartItemCount}}</p> -->
                            <p>Availability: {{product.availableInventory}}</p>
                            <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">
                                Add To Cart</button>
                            <button disabled='disabled' v-else>
                                Add To Cart</button>
                            <br>
                            <span v-if="product.cartInventory === cartCount(product.id)"> All Out!</span>
                            <span v-else-if="product.availableInventory < 5 "> Only {{product.availableInventory}}
                                left!</span>
                            <span v-else>Buy Now!</span>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>

            </div>

        </main>
    </div>

    <!-- footer -->
    <footer>
        <p>©️ Aqeel Ali M00850498 - All Rights Reserved</p>
    </footer>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app', // <=== Don't forget this comma
            data: {
                showProduct: true,
                sitename: "After School Classes",
                products: products,
                cart: []
            },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                    product.availableInventory--;
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                canAddToCart(product) {
                    //return product.availableInventory > this.cartCount(product.id);
                    return product.cartInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] == id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length || "";
                }
            }
        });
    </script>
</body>

</html>